@{
    ViewData["Title"] = "Контакты";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card shadow">
                <div class="card-header bg-info text-white">
                    <h2>@ViewData["Title"]</h2>
                </div>
                <div class="card-body">
                    <h4>Адрес</h4>
                    <p>г. Москва, ул. Примерная, д. 123</p>

                    <h4 class="mt-4">Телефоны</h4>
                    <ul class="list-unstyled">
                        <li><i class="fas fa-phone"></i> +7 (495) 123-45-67</li>
                        <li><i class="fas fa-mobile-alt"></i> +7 (900) 123-45-67</li>
                    </ul>

                    <h4 class="mt-4">Email</h4>
                    <p><i class="fas fa-envelope"></i> info@hotel-example.ru</p>

                    <h4 class="mt-4">Режим работы</h4>
                    <p>Круглосуточно, без выходных</p>

                    <div class="mt-4">
                        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A1a2b3c4d5e6f7g8h9i0j&amp;source=constructor"
                                width="100%" height="300" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>